<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd">

	<bean id="tokenValidationAop" class="io.mycat.ep.common.aop.TokenValidationAop">
    	<property name="ignoredMethods">
    		<set>
    			<value>checkLoginStatus</value>
    			<value>regist</value>
    			<value>login</value>
    			<value>smsCode</value>
    		</set>
    	</property>
    </bean>
    <aop:config proxy-target-class="true">
        <aop:aspect ref="tokenValidationAop">
             <aop:around method="validate" pointcut="execution(public * io.mycat.ep.v*.**.impl.*HandlerImpl.*(*))" />
        </aop:aspect>
    </aop:config>

    <bean id="logAop" class="io.mycat.ep.common.aop.LogAop"></bean>
    <aop:config proxy-target-class="true">
        <aop:aspect ref="logAop">
             <aop:around method="log" pointcut="execution(public * io.mycat.ep.v*.**.impl.*HandlerImpl.*(*))" />
        </aop:aspect>
    </aop:config>
</beans>